* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  /* background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: top;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; */
}