.home__container {
  display: flex;
  justify-content: space-around;
}
.home__banner {
  width: 55%;
  align-self: center;
  padding: 10px;
}
.home__setting {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__title {
  font-size: 24px;
  color: #303F9F;
}
.setting__select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
   .home__container {
     flex-direction: column;
     align-items: center;
   }
   .home__setting {
     width: 100%;
   }
   .home__banner {
      width: 85%;
      padding: 0;
      padding-top: 20px;
   }
}